<h1>Edit a Company</h1>
<%= @company.name %>

<%= render partial: "companies/errors", locals: {user: @company} %>

<h3>Offices: </h3>
<% @company.office_info.each do |office_info| %>
  <%= office_info %><br>
<% end %>


<%= render partial: "form" %>